git+https://github.com/dbekaert/RAiDER.git@v0.5.5
# ISCE3 pinned to commit post v0.24.5 because ISCE3 didn't include the pyproject.toml in the release.
# I also can't compute a version number because they use release-stub branches and don't merge the tagged releases back
git+https://github.com/isce-framework/isce3.git@6116cdaca709c861839804567cca406667887d8b
git+https://github.com/opera-adt/COMPASS.git@v0.5.6
git+https://github.com/isce-framework/s1-reader.git@v0.2.5
git+https://github.com/nasa-jpl/autoRIFT.git@v2.0.0
